.header-text {
  font-size: 87px;
  line-height: 87px;
  transition: 0.3s all;
  display: inline-block !important;
  z-index: 100;
}

.skills-main-container {
  display: flex;
  background: transparent url(../../assets/DoctorStrangeMcuLogoComp.svg)
    no-repeat right top;
  background-size: 70%;
  width: 100px;
  height: 100vh;
}

.backdrop-container {
  position: absolute;
  z-index: 0;
}

.backdrop-logo {
  height: 300px;
  width: 300px;
}

.skills-text-container {
  width: 50%;
  align-items: flex-start;
  justify-content: flex-start;
}

.skills-tag-container {
  width: 50%;
}

/* mobile breakpoint */
@media screen and (max-width: 768px) {
  .skills-main-container {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .skills-text-container {
    width: 100% !important;
  }

  .skills-tag-container {
    width: 100% !important;
  }

  .header-text {
    font-size: 3rem;
    line-height: 1rem;
    transition: 0.3s all;
    display: inline-block !important;
  }
}

/* ipad size */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .sc-text{
    width: 100%;
    padding-right: 2rem;
  }
  
}

