.tagcloud {
  font-family: "coolvetica", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.tagcloud--item {
  color: #0ffdd8;
  transition: 0.3s all;
}

.tagcloud--item:hover {
  color: #fd2055;
}

/* mobile break-point */
@media screen and (max-width:768px){
  .tagcloud--item{
    font-size: .9rem;
  }
}