.intro-text {
  font-size: 103px;
  line-height: 87px;
  transition: 0.3s all;
  display: inline-block !important;
  z-index: 100;
  text-align: center;
}

.intro-text:hover, .isInFocus {
  color: #0ffdd8;
}

.hlogo {
  height: 5rem;
  width: auto;
}

.home-room-container{
  margin-top: -10rem;
  margin-right: 1rem;
  height: 40rem;
  width: 40rem;
}

@media only screen and (max-width: 768px) {
  .intro-text-container{
    margin: 0px;
    margin-left: 1.5rem;
  }

  .intro-text{
    font-size: 3rem;
    line-height: 2.7rem;
    transition: 0.3s all;
    display: inline-block !important;
    letter-spacing: .5px;
    font-weight: 500;
  }

  .intro-text-wrapper{
    width: 100% !important;
  }
  p.marginL-2{
    margin-left: 1rem !important;
  }
  span.marginL-2{
    margin-left: 1rem;
  }
  span.marginL-3{
    margin-left: 1.5rem;
  }
  .send-msg-btn{
    margin-left: 1.5rem !important;
  }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .intro-text{
    font-size: 5rem;
    line-height: 4rem;
    transition: 0.3s all;
    display: inline-block !important;
    letter-spacing: .6px;
    font-weight: 500;
  }

  .intro-text-wrapper{
    width: 100% !important;
  }
}