.intro-text {
  font-size: 103px;
  line-height: 87px;
  transition: 0.3s all;
  display: inline-block !important;
  z-index: 100;
}

.intro-text:hover {
  color: #0ffdd8;
}

.hlogo {
  height: 5rem;
  width: auto;
}

.home-room-container{
  margin-top: -10rem;
  margin-right: 1rem;
  height: 40rem;
  width: 40rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .home-room-container{
    display: none;
  }
}